@import url('https://fonts.googleapis.com/css?family=Oswald:300');
html{
    font-family: 'Oswald', sans-serif;
}
header,main,footer{
    display:block;
    width:1000px; 
    margin:0px auto; padding:30px;
 }
h1{
    text-align: center;
    text-shadow: 2px 2px 0px #c0a34b;
}
h2{
    text-align: center;
    border: 2px solid rgba(197, 16, 182, 0.992);
    min-width: 100px;
    max-width: 200px;
    padding:5px;
}
article h2{
    font-size: 30px;
}
header {
    min-height:180px;
    font-size: 20px;
}
main {
    min-height:400px;
    font-weight: bolder;
    border-radius: 50px;
    box-shadow:5px 5px 10px #d4ccb4;
    padding-bottom: 1px;
    background:linear-gradient(-105deg, #E4A972, #9941D8);
}
main ul{
    position: fixed; top: 20px; left:20px;
    background-color: rgba(255, 166, 0, 0.4);
    min-width: 150px;
}
footer {
    min-height:50px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
footer small{
    color: #ffffff;
    line-height: 10px;
    font-size: 10px;
}
body{
    margin:0px;
    color:#ebddcd;
    font-size:20px;
    line-height:30px;
    background:linear-gradient(-135deg, #E4A972, #9941D8);
    border-radius: 10px;
}
h3, p {
    text-align: center;
    padding:10px; margin:0px;
}
h3{
    font-weight: bold;
    color: #a4caaa;
}
#main11, footer {
    color:#a4caaa;
}
main img{
    display: block;
    margin:0 auto;
    height:213px;
}
img:hover{
    opacity: 0.5 ;
}
.midasi {
    margin: 0 auto;
}
.languagemidasi{
    font-size: 30px;
}
.sectionspace{
    margin-bottom: 80px;
}
.object{
    font-size: 40px;
}
.object2{
    font-size: 30px;
    margin-bottom: 30px;
}
ul a{
    text-decoration: none;
}
ul a:hover{
    opacity: 0.5;
}